# Pandas Warmup

Pandas out yer ears

Run the cell below w/o changes to load tests

In [2]:
#run without changes

from test_background import pkl_dump, test_obj_dict, run_test_dict, run_test

## Data setup

Import: 

- Pandas under the alias 'pd'

- Matplotlib.pyplot under the alias 'plt'

Run:
- %matplotlib inline

In [3]:
#Your code here
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

#### Make a dataframe by reading in the csv 'Chicago_Park_District__Movies_in_the_Parks_2019' which is in the "data" folder  

#### Assign the dataframe to the variable 'movies'

#### Look at the first five rows

In [4]:
#Your code here
movies = pd.read_csv('./data/Chicago_Park_District__Movies_in_the_Parks_2019.csv')
movies.head()

,Day,Date,Park,Park Phone,Title,CC,Rating,Underwriter,Park Address,Location
0,Mon,08/12/2019,River Park,(312) 742-7516,Hotel Transylvania 3,Y,PG,NaN,5100 N. Francisco Ave.,"(41.97406838, -87.70144885)"
1,Thu,07/18/2019,Hoard Playground Park,(773) 256-1903,Black Panther,Y,PG-13,NaN,7201 S. Dobson Ave.,"(41.7640317, -87.59928813)"
2,Fri,06/07/2019,Berger Park Cultural Center,(773) 761-0376,Some Like It Hot,Y,NR,NaN,6205 N. Sheridan Rd.,"(41.99480562, -87.65538421)"
3,Sat,07/13/2019,Skinner Park,(312) 746-5560,Big Hero 6,Y,PG,The Museum of Science and Industry,1331 W. Monroe St.,"(41.88015941, -87.66077867)"
4,Wed,07/24/2019,Kilbourn Park,(773) 685-3351,El Reality,Y,NR,The International Latino Cultural Center,3501 N. Kilbourn Ave.,"(41.94450485, -87.73951111)"

#### What kind of type is the data in the Date column?  Turn it into a datetime type if it's not already

In [7]:
#Your code here
movies.info()
#  all are strings
movies['Date'] = pd.to_datetime(movies['Date'])
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 10 columns):
Day             210 non-null object
Date            210 non-null datetime64[ns]
Park            210 non-null object
Park Phone      210 non-null object
Title           210 non-null object
CC              210 non-null object
Rating          210 non-null object
Underwriter     75 non-null object
Park Address    210 non-null object
Location        209 non-null object
dtypes: datetime64[ns](1), object(9)
memory usage: 16.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 10 columns):
Day             210 non-null object
Date            210 non-null datetime64[ns]
Park            210 non-null object
Park Phone      210 non-null object
Title           210 non-null object
CC              210 non-null object
Rating          210 non-null object
Underwriter     75 non-null object
Park Address    210 non-null object
Location        209 non-null object
dtypes: datetime64[ns](1), object(9)
memory usage: 16.5+ KB

#### Replace the truncated days of the week in the Days column with the full string of the day of the week using the Date column

[*Hint*](https://pandas.pydata.org/pandas-docs/version/0.25.0/reference/api/pandas.Series.dt.day_name.html)

In [15]:
#Your code here

6

#### Sort `movies` by the Day column, with 'Monday' first and 'Sunday' last

[*Hint*](https://pandas.pydata.org/pandas-docs/version/0.25.0/reference/api/pandas.Categorical.html#pandas.Categorical)

In [12]:
#Your code here

## Data Exploration

#### What is the most frequent place to show a movie?  (Remember that there might be a tie!)

#### Assign your answer to the variable `venue_max` as a list of one or more strings

In [23]:
#Your code here
venue_max = [movies['Park'][movies['Park'].value_counts().max()]]
venue_max

['Wicker Park']

In [18]:
#test your answer here

run_test(venue_max, 'venue_max')

#### What's the area code in which movies are shown most frequently?

#### Assign your answer to the variable `area_code` as an integer

In [46]:
#Your code here

In [23]:
#run this cell to test your answer

run_test(area_code, 'area_code')

## Data Manipulation

#### Group the data by what day of the week the movies are shown using `.groupby()`

#### Assign to the variable `movies_grp_day` 
(concept check: what type of object is this?)

#### Using `movies_grp_day`, assign to `movies_per_day` a series where the index is the day of the week and the values are total counts of movies per day 

#### Again using `movies_grp_day`, assign to `unique_movies_per_day` a series where the index is the day of the week and the values are unique counts of movies per day of the week.

#### Use `movies_per_day` and `unique_movies_per_day` to calculate a series of how many movie showings per day of the week are of movies that are shown more than once.  Assign this series to `repeats`

#### Sort `repeats` so Monday is the first entry and Sunday is the last

In [49]:
#Your code here

In [26]:
#test your answer here

run_test(repeats, 'repeats')

#### Which day of the week has the fewest underwriters?  Run a calculation that results in a string (ie, don't run a calculation which displays the answer somewhere and then create a new string with the answer)

#### Assign that string to `day_underwriter_min`

In [52]:
#Your code here

In [29]:
#test your answer here

run_test(day_underwriter_min, 'day_underwriter_min')

#### Using `movies_grp_day`, assign the variable `model_ratings_day` to a series where the index is the days of the week and the values are the modal rating for movies shown that day

#### Sort so that the first index is Monday and the last is Sunday


*Hint: look at [the groupby documentation](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.core.groupby.DataFrameGroupBy.agg.html) and write a function*

In [ ]:
#Your code here

In [33]:
#test your answer here
run_test(modal_ratings_day, 'modal_ratings_day')

## Strrretch Goal

#### Make a stacked bar chart showing the ratings of movies across days of the week using fig and ax objects

#### Title the x-axis "Day"

#### Title the y-axis "Count of Movies Shown"

#### Title the chart as a whole "Chicago Movies in the Park by Day and Rating"

[*Hint*](https://matplotlib.org/3.1.1/gallery/lines_bars_and_markers/bar_stacked.html)

When you're done it should look like this (w/ figsize 8,5):

![](viz/final_chart.png)

In [6]:
#Your code here